.main-content {
  width: 100%;
  height: 100%;
  margin-top: 70px;
  padding: 0 $padding-10 * 2+2;

  .content-gallery {
    position: relative;
  }
  .content-section {
    margin-top: $margin-13;
    &.playlist-section,
    &.channel-section {
      height: 300px;
      .slider-wrapper,
      .channel-wrapper {
        height: 260px;
      }
    }
    &.shortcut-section {
      height: 158px;
      .slider-wrapper {
        height: 120px;
      }
    }
    &.chart-section {
      height: 420px;
    }

    .section-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      .section__title {
        height: 2.6rem;
        line-height: 2.6rem;
        margin-bottom: $margin-4;
        text-transform: capitalize;
        @include text($color-white-0, $fs-3, $fw-bold);
      }
    }
  }

  // New
  .zm-section {
    margin-top: $margin-13;

    // Mix zing
    &.zm-mix-section {
      margin-top: $margin-13;
    }
    // New release
    // &.zm-new-release-section {
    //   height: 160px;
    // }
    // Title
    .zm-section-title {
      margin-bottom: $margin-3;
      text-transform: capitalize;
      @include text($color-white-0, $fs-3, $fw-bold);
    }
  }
}

@import "./gallery";
@import "./slider";
@import "./chart";
@import "./zing_chart";
@import "./new-release";
@import "./karaoke";
@import "./footer";
@import "./mix-zing";
