.slider-wrapper {
  overflow: hidden;
  .slider {
    position: relative;
    height: 100%;
    // transform: translate3d(-240.7px, 0px, 50px);
    transform: translateX(0);
    transition-property: transform;
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  .slider-action {
    position: absolute;
    top: 0;
    right: 0;
    .btn-slider-control {
      width: 2.6rem;
      height: 2.6rem;
      font-size: 2.6rem;
      .icon--control {
        width: 2.4rem;
        height: 2.4rem;
        font-size: 2.4rem;
      }
    }
  }
}
