.zm-card {
  width: 100%;
  height: 100%;
  display: block;
  .zm-card__link {
    margin-bottom: $margin-2;
    &:hover {
      .zm-card__image {
        .card-img {
          transform: scale(1.1) translateZ(10px);
        }
        .card-opacity,
        .card-actions {
          display: block;
        }
        .box-text,
        .box-text.box-zing-chart {
          .box-text__title,
          .box-text__subtitle {
            transform: scale(1.1);
          }
        }
      }
    }
    .zm-card__image {
      position: relative;
      border-radius: 4px;
      overflow: hidden;
      &.is-170x170 {
        width: 170px;
        height: 170px;
      }
      &.is-210x120 {
        .card-image {
          padding-bottom: 56.25%;
        }
      }
      &.is-370x110 {
        .card-image {
          padding-bottom: 28.75%;
        }
      }
      &.is-120x120 {
        width: 120px;
        height: 120px;
      }
      .card-image {
        position: relative;
        padding-bottom: 100%;
        .card-img {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          transition: transform ease 0.8s;

          object-fit: cover;
          object-position: center cover;
        }
      }
      .card-opacity {
        position: absolute;
        inset: 0;
        background-color: rgba($color: #000, $alpha: 0.5);

        display: none;
      }
      .card-actions {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -15%);
        width: 100%;
        height: 100%;

        display: none;
        .card-actions__event {
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .btn--action {
            margin: 0;
            padding: 0;
          }
        }
      }
      .card-overplay {
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
          180deg,
          transparent 27%,
          rgba(0, 0, 0, 0.78)
        );
      }
      .card-content {
        position: absolute;
        inset: 0;
        @include flex-box(center, center);

        &.card-content--event {
          inset: unset;
          bottom: 0;
          left: 0;
          right: 0;
        }
        .box-text {
          width: 100%;
          text-align: center;
          .box-text__title {
            text-transform: uppercase;
            transition: transform ease 0.8s;
            @include text($color-white-0, $fs-2, $fw-bold);
          }
          &.box-zing-chart {
            width: 100%;
            .box-text__title {
              margin-bottom: 14px;
              letter-spacing: 1px;
              @include text($color-white-0, $fs-0, $fw-light);
            }
            .box-text__subtitle {
              letter-spacing: 2px;
              line-height: 3rem;
              text-transform: uppercase;
              transition: transform ease 0.8s;
              @include text($color-white-0, $fs-5, 900);
            }
          }
        }
        .box-event {
          width: 100%;
          padding: $padding-5 $padding-3;
          .event-tag {
            @extend %span-0;
          }
          .event-title {
            margin: $margin-0 0;
            white-space: nowrap;
            @include text($color-white-0, $fs-1, $fw-bold);
          }
          .event-subtitle {
            margin: 0;
            white-space: nowrap;
            @include text($color-white-0, $fs-0, $fw-normal);
          }
        }
      }
      .card-brand {
        position: absolute;
        bottom: 5px;
        right: 5px;

        padding: $padding-0 - 2 $padding-1;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.7);
        @include text($color-white-0, 1.2rem, $fw-normal);
      }
      .card-brand-vip {
        position: absolute;
        top: 10px;
        left: 10px;

        .vip-label {
          width: 40px;
          height: 18px;
          background-image: url(../../../assets/images/vip-label.svg);
          background-position: center center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
  .zm-card__content {
    .card-title {
      line-height: 1.36;
      margin-bottom: $margin-0;
      &:hover {
        a {
          color: $color-purple-1;
        }
      }
      a {
        text-align: left;
        text-transform: capitalize;
        transition: all ease 0.3s;
        @include text($color-white-0, 1.5rem, $fw-bold);
      }
    }
    .card-subtitle {
      line-height: 1.33;
      &:hover {
        a {
          color: $color-purple-1;
          text-decoration: underline;
        }
      }
      a {
        transition: all ease 0.3s;
        @include text(rgba($color-gray-2, 0.5), 1.3rem, $fw-regular);
      }
    }

    .box-event {
      @include flex-box(space-between, center);

      .event__left {
        .event-title {
          height: 1.4rem;
          line-height: 1.4rem;
          margin-bottom: $margin-0;
          @include text($color-white-0, $fs-0, $fw-normal);
        }
        .avatars {
          flex-direction: row-reverse;
          @include flex-box(flex-end, center);

          .avatars-item {
            width: 15px;
            .avatar-image {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              border: 2px solid $bg-primary;
              overflow: hidden;
              .avatar-img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .avatars-amount {
            margin-left: $margin-1;
            @include text(hsla(0, 0%, 100%, 0.5), $fs-0, $fw-normal);
          }
        }
      }
    }
  }
}
