.number {
  @include text($color-white-0, 1.3rem, $fw-medium);
}
.number-rating {
  line-height: 1;
  text-align: center;
  -webkit-text-stroke: 1px $color-white-0;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  @include text($color-white-0, 3.2rem, 900);

  &.top-1-rating {
    -webkit-text-stroke-color: $color-blue-0;
    color: $color-blue-0;
  }
  &.top-2-rating {
    -webkit-text-stroke-color: $color-blue-1;
    color: $color-blue-1;
  }
  &.top-3-rating {
    -webkit-text-stroke-color: $color-red-1;
    color: $color-red-1;
  }
}
