// Reset

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font: {
    size: 62.5%;
    weight: 400;
    family: "Inter", sans-serif;
  }
  line-height: 1.6rem;
  color: var(--text-primary);
  background-color: $bg-layout-0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
}

:root {
  --sticky-header-box-shadow: rgba(0, 0, 0, 0.1);
  --portal-menu-box-shadow: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #170f23;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #5d5765;
}
