.grid {
  display: block;
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.col {
  padding-left: 15px;
  padding-right: 15px;
}
.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}
// Small
.col-sm-o-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}
// Medium
.col-md-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}
.col-md-1-7 {
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
}
.col-md-o-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}
.col-md-o-1-7 {
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
}
// Large
.col-lg-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}
.col-lg-o-4 {
  margin-left: 33.33333%;
}
.col-lg-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}
.col-lg-o-2-4 {
  margin-left: 20%;
}
.col-lg-1-7 {
  flex: 0 0 14.28571%;
  max-width: 14.28571%;
}
.col-lg-o-1-7 {
  margin-left: 14.28571%;
}

@media screen and (max-width: 1024px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .col-lg-2-4 {
  }
}
