.zm-header {
  position: fixed;
  top: 0;
  left: 240px;
  right: 0;
  height: 70px;
  z-index: 5;

  display: flex;
  align-items: center;

  background-color: $bg-layout-0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  padding: 0 $padding-13;
  .zm-row-header {
    width: 100%;
  }
  .zm-header__left {
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;

    padding-right: $padding-3;
    @include flex-box(flex-start, center);
    .header__navigation {
      display: flex;
      align-items: center;
      .navigation__btn {
        flex: 1;
        padding: 0;
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & + .navigation__btn {
          margin-left: 0;
        }
        .navigation__icon {
          width: 2.4rem;
          height: 2.4rem;
          font-size: 2.4rem;
        }
      }
    }
    .header__search-form {
      flex: 1;
      .search-form {
        max-width: 540px;
        .form-group--customize {
          background-color: hsla(0, 0%, 100%, 0.1);
          border-radius: 50px;
          .form-control__btn {
            padding: 0;
          }
          .form-control__icon {
            color: $color-white-1;
            width: 2.2rem;
            height: 2.2rem;
            font-size: 2.2rem;
          }
        }
      }
    }
  }
  .zm-header__right {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    align-items: center;
    .header__item {
      position: relative;
      width: 42px;
      height: 42px;
      & + .header__item {
        margin-left: $margin-3;
      }

      .btn-header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0;
        margin: 0;
        &::after {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          display: flex;
          justify-content: center;
          align-items: center;

          content: "";
          border: 1px solid transparent;
          background-color: $color-purple-3;
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
        &.btn-header--person {
          &::after {
            background-color: rgba(#ced5e3, 0.7);
          }
        }
        .header__icon {
          position: relative;
          &::after {
            position: absolute;
            bottom: 0;
            left: 10%;
            right: 10%;

            content: "";
            border-bottom: 2px solid #dadada;
            border-radius: 50px;
            width: 80%;
          }
        }
      }
    }
  }
}

.modal {
  .theme,
  .artist {
    .theme-wrapper,
    .artist-wrapper {
      .row-gutter-2-4 {
        margin-left: -8px;
        margin-right: -8px;
        .col-gutter-2-4 {
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .zm-header {
    left: 70px;
    .zm-header__right {
      .header__item--upload {
        display: none;
      }
    }
  }
}
