.layout {
  display: flex;
  width: 100%;
  min-width: 768px;
  // height: 100vh;

  .sidebar {
    flex-basis: 240px;
    max-width: 240px;
    height: 100vh;
  }
  .main-page {
    flex-basis: calc(100% - 240px);
    max-width: calc(100% - 240px);
  }
}
