// Black
$color-black-0: #000;

// White
$color-white-0: #fff;
$color-white-1: #dadada;
$color-white-2: #d8d8d8;

// Gray
$color-gray-0: #8b8791;
$color-gray-1: #424242;
$color-gray-2: #97939c;

// Purple
$color-purple-0: #7200a1;
$color-purple-1: #c662ef;
$color-purple-2: #393243;
$color-purple-3: hsla(0, 0%, 100%, 0.1);

// Blue
$color-blue-0: #4a90e2;
$color-blue-1: #50e3c2;

// Red
$color-red-0: #ff0101;
$color-red-1: #e35050;
$color-red-2: #ff0000;

// Green
$color-green-0: #27bd9c;

// Background
$bg-layout-0: #170f23;
$bg-sidebar-0: #231b2e;
$bg-sidebar-1: #2a213a;
$bg-primary: #432275;
