$path-image: "../assets/images";

// Font size
$fs-0: 1.4rem;
$fs-1: 1.6rem;
$fs-2: 1.8rem;
$fs-3: 2rem;
$fs-4: 2.2rem;
$fs-5: 2.4rem;
$fs-6: 2.6rem;
$fs-7: 2.8rem;

// Font weight
$fw-normal: normal;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi_bold: 600;
$fw-bold: 700;

// Margin
$margin-0: 4px;
$margin-1: 6px;
$margin-2: 8px;
$margin-3: 10px;
$margin-4: 12px;
$margin-5: 14px;
$margin-6: 16px;
$margin-7: 18px;
$margin-8: 20px;
$margin-9: 22px;
$margin-10: 24px;
$margin-11: 26px;
$margin-12: 28px;
$margin-13: 30px;

// Padding
$padding-0: 4px;
$padding-1: 6px;
$padding-2: 8px;
$padding-3: 10px;
$padding-4: 12px;
$padding-5: 14px;
$padding-6: 16px;
$padding-7: 18px;
$padding-8: 20px;
$padding-9: 22px;
$padding-10: 24px;
$padding-11: 26px;
$padding-12: 28px;
$padding-13: 30px;
