html,
body {
  // min-height: 100vh;
  // background-color: #88efc8;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}
.zm-nf-section {
  text-align: center;
  .zm-section-title {
    margin: 40px 0;
    font-size: 2.5rem;
  }
  .zm-nf-image {
    img {
      width: 600px;
      max-width: 75%;
    }
  }
  h4 {
    margin: 40px 0 20px;
    font-size: 1.6rem;
  }
  .btn-back {
    padding: 15px;
    color: #fff;
    background-color: #6c63ff;

    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 6px;
  }
}
